.Titre-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 0px;
    
}
.ligne{
    width: 200px;
    background-color: rgb(255, 255, 255);
}
.article{
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    line-height: 30px;
}

.img-link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 60px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: max-content;
}

.div1 { grid-area: 1 / 1 / 5 / 4; }
.div2 { grid-area: 4 / 1 / 5 / 4; }


.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}


.artiste-texte{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: -200px;
}

.div8 { grid-area: 3 / 1 / 6 / 4; }
.div9 { grid-area: 1 / 2 / 4 / 3;
z-index: 2;
}


.sous_titre_date{
    display: flex;
    align-items: center;
    justify-content: center;

}

.div9{
    height: auto;
    width: 300px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div8{
    background-color: #DAD6C1;
    
}
.div8 p{
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    line-height: 30px;
}

.div8 h3{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Titre-caroussel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-portrait{
    margin-left: 180px;
    max-width: 50%;
}

.left-portrait{
    margin-right: 180px;
    max-width: 50%;
}
.text-chrono-right{
    margin-top: -150px;
    margin-left: 20px;
}
.right-line{
    margin-top: 60px;
    padding-left: 140px;
}

.frise{
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-chrono-left{
    margin-top: -150px;
    margin-left: 200px;
}

.left-line{
    margin-left: 130px;
    margin-top: 40px;
}


.oeuvre-texte {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div11 { grid-area: 1 / 1 / 6 / 4; }
.div12 { grid-area: 2 / 2 / 5 / 3; }
.div13 { grid-area: 5 / 3 / 6 / 4; }

.div12{
    
    height: auto;
    width: 250px;

}
.div13{
    display: flex;
    align-items: center;
    justify-content: right;
    height: auto;
    padding-right: 9px;
    padding-bottom: 20px;
}




.div14{
    background-color: #DAD6C1;
    
}
.div14 p{
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    line-height: 30px;
}

.div14 h3{
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutton-suivant h3{
    background-color: var(--red-orange);
    border-radius: 2.5rem;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.titre-boutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(302.5deg, #695b48 48.54%, #c0bfbf 138.53%, #FFFFFF 184.22%);
    display: flex;
    color: white;
    font-size: large;
    justify-content: center;
    transition: ease-in-out;
    
    

    padding-top: 50px;
    border-radius: 2px;
    margin-left: 0px;
    
    
    }
.header_menuBtn {
    position: relative;
    z-index: 10;
    }
    .noscroll,
    .noscroll body {
      overflow: hidden;
    }
button{
    background-color: transparent;
    border-color: transparent;
}
nav ul {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 60px;
    
    
    
}
nav h2{
   display: flex;
   justify-content: center;
}
nav p{
   display: flex;
   justify-content: center;
}

img {
    margin-top: 0px;
    max-width: 100%;
    

}

.indic {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
   
    background-color: rgb(214, 223, 231,0.25);
    border-radius: 50px;
    z-index: 3;
    width: 70px;
    height: 20px;
    margin-top: 80px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;


}

.oeuvre-carousel {
    position: relative;
}


.box {
    position: relative;
}

.fleche-carousel {
    position: absolute;
    top: 50%;
    box-sizing: content-box;
    width: 100%;
    display:flex; 
    justify-content: center;
    justify-content: space-between;
}

.fleche-carousel button {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}



.btn-indic {
    background-color: #ffffff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 40px;
    color: #ffffff;
}

.carousel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.oeuvre-carousel { grid-area: 1 / 1 / 6 / 4; }
.indic { grid-area: 4 / 2 / 6 / 3; }

.bg-color-success {
    background-color: rgb(13, 130, 44);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 40px;
}